*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-header{
    
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10vh;
}
.search-header a{
    text-decoration: none;
    color: #ac9f9f;
    
}
.search-header p:hover {
    transition: 0.3s;
    border: #ac9f9f solid 2px;
    border-radius: 15px;
    transform: scale(1.2);
    padding: 0.5em;
}
.search-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: black;
    height: 90vh;
}

.search-inputs{

}
.search-results{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-results div{
    width: 50%;
    border: #fff solid 1px;
    border-radius: 15px;
    padding: 1em;
}

